.jackpot-stripe {
    &-wrapper {
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        color: #fff;
        border-radius: 20px 20px 0 0;
        padding: 10px 0;
        font-weight: 600;
    }
}
